---
import { getLanguageFromURL, useTranslations } from "../i18n/utilities.js";

const language = getLanguageFromURL(Astro.url);
const translation = useTranslations(language);

const { isMobile = false } = Astro.props;
---

<div class="toc-container">
    <nav aria-labelledby="toc-heading">
        <pc-scroller class="toc-scroll-fade" orientation="vertical">
            {
                !isMobile && (
                    <h3 class="toc-heading" id="toc-heading">
                        {translation("ui.toc.onThisPage")}
                    </h3>
                )
            }
            <div class="toc-inner">
                <div class="toc-marker"></div>
                <ul
                    class="toc-ul"
                    data-overview={translation("ui.toc.overview")}
                >
                </ul>
            </div>
        </pc-scroller>
    </nav>
</div>

<script>
    import type { PcScroller } from "placer-toolkit/dist/components/scroller/scroller.js";

    document.addEventListener("DOMContentLoaded", async () => {
        // TOC generation
        const tocs = document.querySelectorAll(".toc");

        for (const toc of tocs) {
            const tocList = toc.querySelector<HTMLUListElement>(".toc-ul");

            if (!tocList) {
                continue;
            }

            const article = document.querySelector("article");

            if (!article) {
                continue;
            }

            const articleHeader = article.querySelector('header[id="_top"]');
            const headings = Array.from(
                article.querySelectorAll("h2[id], h3[id]"),
            );
            const items = headings.map((element) => ({
                depth: element.tagName === "H2" ? 2 : 3,
                slug: element.id,
                text: element.textContent?.trim() || "",
            }));

            tocList.innerHTML = "";

            const overviewItem = document.createElement("li");
            const overviewID = articleHeader?.id || "_top";

            overviewItem.className = "toc-item depth-2";
            overviewItem.innerHTML = `
                <a href="#${overviewID}">
                    ${tocList.dataset.overview || "Overview"}
                </a>
            `;

            tocList.appendChild(overviewItem);

            let lastH2Li: HTMLLIElement = overviewItem;

            items.forEach((item) => {
                const li = document.createElement("li");

                li.className = `toc-item depth-${item.depth}`;
                li.innerHTML = `<a href="#${item.slug}">${item.text}</a>`;

                if (item.depth === 2) {
                    tocList.appendChild(li);

                    lastH2Li = li;
                } else if (item.depth === 3 && lastH2Li) {
                    let nestedUl = lastH2Li.querySelector("ul");

                    if (!nestedUl) {
                        nestedUl = document.createElement("ul");
                        nestedUl.className = "toc-ul depth-3";

                        lastH2Li.appendChild(nestedUl);
                    }

                    nestedUl.appendChild(li);
                }
            });

            // Scrollspy
            const links = Array.from(
                toc.querySelectorAll<HTMLAnchorElement>(".toc-ul a"),
            );
            const marker = toc.querySelector<HTMLElement>(".toc-marker");
            const tocInner = toc.querySelector<HTMLElement>(".toc-inner");

            function moveMarker(link: HTMLAnchorElement) {
                if (!marker || !tocInner) {
                    return;
                }

                const li = link.closest("li");

                if (!li) {
                    return;
                }

                const linkHeight = link.offsetHeight;
                const markerHeight = marker.offsetHeight;

                const y = li.offsetTop + linkHeight / 2 - markerHeight / 2;

                marker.style.transform = `translateY(${y}px)`;
            }

            function setActiveID(id: string) {
                const targetID = id || "_top";

                let activeLink: HTMLAnchorElement | null = null;

                links.forEach((link) => {
                    const isActive =
                        link.getAttribute("href") === `#${targetID}`;

                    if (isActive) {
                        link.setAttribute("aria-current", "location");

                        activeLink = link;
                    } else {
                        link.removeAttribute("aria-current");
                    }
                });

                if (activeLink) {
                    moveMarker(activeLink);
                }
            }

            const elementsToWatch = [...headings];

            if (articleHeader) {
                elementsToWatch.unshift(articleHeader);
            }

            const isMobileTOC = toc.classList.contains("mobile-toc");
            const topMargin = isMobileTOC ? 106 : 56;

            const observer = new IntersectionObserver(
                (entries) => {
                    const visibleEntry = entries.find(
                        (event) => event.isIntersecting,
                    );

                    if (visibleEntry) {
                        setActiveID(visibleEntry.target.id);
                    }
                },
                {
                    root: null,
                    rootMargin: `-${topMargin}px 0% -${window.innerHeight - topMargin - 50}px 0%`,
                    threshold: 0,
                },
            );

            elementsToWatch.forEach((element) => observer.observe(element));

            await customElements.whenDefined("pc-scroller");

            const tocScroller = toc.querySelector<PcScroller>("pc-scroller");
            const content = tocScroller?.shadowRoot?.querySelector("#content");

            if (content) {
                content.addEventListener(
                    "scroll",
                    () => {
                        const active = toc.querySelector(
                            'a[aria-current="location"]',
                        );

                        if (active) {
                            moveMarker(active as HTMLAnchorElement);
                        }
                    },
                    { passive: true },
                );
            }

            window.addEventListener(
                "resize",
                () => {
                    const active = toc.querySelector<HTMLAnchorElement>(
                        'a[aria-current="location"]',
                    );

                    if (active) {
                        moveMarker(active);
                    }
                },
                { passive: true },
            );
        }
    });
</script>

<style is:global>
    .toc-container {
        position: relative;
    }

    .toc-container .toc-scroll-fade {
        position: relative;
        max-block-size: calc(100dvh - 3.5rem - var(--pc-spacing-xxxl));
    }

    .toc-container .toc-scroll-fade .toc-heading:not(.toc-mobile .toc-heading) {
        margin-block-end: var(--pc-spacing-s);
        font-size: var(--pc-font-size-m);
    }

    .toc-container .toc-scroll-fade .toc-inner {
        position: relative;
        padding-inline: var(--pc-spacing-l);
    }

    .toc-container .toc-scroll-fade .toc-inner::before {
        content: "";
        position: absolute;
        inset-block: 0;
        inset-inline-start: 0;
        inline-size: var(--pc-border-width-m);
        block-size: 100%;
        background-color: var(--pc-color-neutral-border-quiet);
        border-radius: var(--pc-border-radius-pill);
    }

    .toc-container .toc-scroll-fade .toc-inner .toc-marker {
        position: absolute;
        inset-inline-start: 0;
        inline-size: var(--pc-border-width-m);
        block-size: var(--pc-spacing-xl);
        background: var(--pc-color-primary-border-loud);
        border-radius: var(--pc-border-radius-pill);
        will-change: transform;
        pointer-events: none;
        transition: transform var(--pc-transition-fast)
            cubic-bezier(0.2, 0.8, 0.2, 1);
    }

    .toc-container .toc-scroll-fade .toc-inner .toc-ul {
        margin-inline-start: 0;
        inline-size: 100%;
        font-size: var(--pc-font-size-s);
        list-style: none;
    }

    .toc-container .toc-scroll-fade .toc-inner .toc-ul.depth-3 {
        margin-inline-start: var(--pc-spacing-m);
    }

    .toc-container .toc-scroll-fade .toc-inner .toc-ul .toc-item {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        margin-block: 0.75rem;
        margin-inline: 0;

        &.depth-3:last-child {
            margin-block-end: 0;
        }

        a {
            display: block;
            inline-size: 100%;
            color: var(--pc-color-text-quiet);
            font-weight: var(--pc-font-weight-normal);
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            text-decoration: none;
            transition: color var(--pc-transition-fast) ease-in-out;

            @media (hover: hover) {
                &:hover {
                    color: color-mix(
                        in oklab,
                        var(--pc-color-text-quiet),
                        var(--pc-color-mix-hover)
                    );
                }
            }

            &:active {
                color: color-mix(
                    in oklab,
                    var(--pc-color-text-quiet),
                    var(--pc-color-mix-active)
                );
            }

            &[aria-current="location"] {
                color: var(--pc-color-primary-fill-loud);
                font-weight: var(--pc-font-weight-semibold);
            }
        }
    }
</style>
