---
import { Image } from "astro:assets";

import litLogo from "../assets/lit.svg";
import shoelaceLogo from "../assets/shoelace.svg";
import astroLightLogo from "../assets/astro-light.svg";
import astroDarkLogo from "../assets/astro-dark.svg";
import floatingUILogo from "../assets/floating-ui.svg";
import customElementsManifestLogo from "../assets/custom-elements-manifest.svg";
import pagefindLightLogo from "../assets/pagefind-light.svg";
import pagefindDarkLogo from "../assets/pagefind-dark.svg";
---

<div class="catalog-grid">
    <a href="https://lit.dev" rel="noreferrer noopener" target="_blank">
        <pc-card>
            <div
                slot="media"
                style="block-size: calc(8rem + var(--pc-spacing-xl) + var(--pc-spacing-l))"
            >
                <Image
                    src={litLogo}
                    width="112"
                    height="112"
                    loading="lazy"
                    alt=""
                />
            </div>
            <div class="catalog-title">Lit</div>
        </pc-card>
    </a>
    <a href="https://shoelace.style" rel="noreferrer noopener" target="_blank">
        <pc-card>
            <div
                slot="media"
                style="block-size: calc(8rem + var(--pc-spacing-xl) + var(--pc-spacing-l))"
            >
                <Image
                    src={shoelaceLogo}
                    width="112"
                    height="112"
                    loading="lazy"
                    alt=""
                />
            </div>
            <div class="catalog-title">Shoelace</div>
        </pc-card>
    </a>
    <a href="https://astro.build" rel="noreferrer noopener" target="_blank">
        <pc-card>
            <div
                class="theme-dependent-content-switcher"
                slot="media"
                style="block-size: calc(8rem + var(--pc-spacing-xl) + var(--pc-spacing-l))"
            >
                <Image
                    class="light-content"
                    src={astroLightLogo}
                    width="112"
                    height="112"
                    loading="lazy"
                    alt=""
                />
                <Image
                    class="dark-content"
                    src={astroDarkLogo}
                    width="112"
                    height="112"
                    loading="lazy"
                    alt=""
                />
            </div>
            <div class="catalog-title">Astro</div>
        </pc-card>
    </a>
    <a href="https://floating-ui.com" rel="noreferrer noopener" target="_blank">
        <pc-card>
            <div
                slot="media"
                style="block-size: calc(8rem + var(--pc-spacing-xl) + var(--pc-spacing-l))"
            >
                <Image
                    src={floatingUILogo}
                    width="112"
                    height="112"
                    loading="lazy"
                    alt=""
                />
            </div>
            <div class="catalog-title">Floating UI</div>
        </pc-card>
    </a>
    <a
        href="https://custom-elements-manifest.open-wc.org"
        rel="noreferrer noopener"
        target="_blank"
    >
        <pc-card>
            <div
                slot="media"
                style="block-size: calc(8rem + var(--pc-spacing-xl) + var(--pc-spacing-l))"
            >
                <Image
                    src={customElementsManifestLogo}
                    width="112"
                    height="112"
                    loading="lazy"
                    alt=""
                />
            </div>
            <div class="catalog-title">Custom Elements Manifest</div>
        </pc-card>
    </a>
    <a href="https://pagefind.app" rel="noreferrer noopener" target="_blank">
        <pc-card>
            <div
                class="theme-dependent-content-switcher"
                slot="media"
                style="block-size: calc(8rem + var(--pc-spacing-xl) + var(--pc-spacing-l))"
            >
                <Image
                    class="light-content"
                    src={pagefindLightLogo}
                    width="112"
                    height="112"
                    loading="lazy"
                    alt=""
                />
                <Image
                    class="dark-content"
                    src={pagefindDarkLogo}
                    width="112"
                    height="112"
                    loading="lazy"
                    alt=""
                />
            </div>
            <div class="catalog-title">Pagefind</div>
        </pc-card>
    </a>
</div>

<style>
    .catalog-grid pc-card::part(base) {
        background-color: transparent;
    }

    .catalog-grid pc-card [slot="media"] :is(img, svg) {
        inline-size: 7rem;
        block-size: 7rem;
    }
</style>
